<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>MMOO.FUN</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link href="favicon.ico"  rel="icon" type="image/x-icon">
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="/">设计师·比例换算</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				菜单
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/design">Design</a>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Header -->

	<div class="container calculate">
		<h1>常见比例</h1>
		<ul>
			<li>16:9</li>
			<li>21:9</li>
			<li>4:3</li>
			<li>2:1</li>
		</ul>
		<span>宽<input type="number"></span>
		<span>高<input type="number"></span>
		<button id="">转换</button>
	</div>

	<!-- Footer -->
	<hr>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center" style="display:none;">
						<li class="list-inline-item">
							<a href="https://www.twitter.com/SBootstrap">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/StartBootstrap">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>


						<li class="list-inline-item">
							<a href="https://github.com/BlackrockDigital">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-github fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>

					</ul>
					<p class="copyright text-muted">MMOO.FUN <a href="http://beian.miit.gov.cn">粤ICP备17077157号</a></p>
				</div>
			</div>
		</div>
	</footer>


	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/clean-blog.min.js"></script>
	<script src="js/ejs.min.js"></script>
	<script src="js/design.js"></script>
</body>

</html>